<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yuanmeng</title>
</head>
    <body>

        <table border="1">
            <tr>
                <th>国家</th>
                <th>今日新增</th>
                <th>现有病例</th>
                <th>累计病例</th>
                <th>治愈病例</th>
                <th>死亡病例</th>
                <th>创建时间</th>

            </tr>


            {% for athlete in haha %}
                <tr>
                    <td>{{ athlete.country }}</td>
                    <td>{{ athlete.new_add }}</td>
                    <td>{{ athlete.Existing }}</td>
                    <td>{{ athlete.Cumulative }}</td>
                    <td>{{ athlete.Cure }}</td>
                    <td>{{ athlete.death }}</td>
                    <td>{{ athlete.creat_time }}</td>
                </tr>
            {% endfor %}


        </table>
    </body>
</html>